*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(./pexels-adonyi-gábor-1414651.jpg);
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.signup-box{
    width: 450px;
    height: 620px;
    background-color: #fff;
   margin: auto;
   margin-top: 22px;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
font input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 7px;
    outline: none;
}
input{
    width: 390px;
    height: 35px;
    margin-top: 12px;   
    color: #fff;
    font-size: 18px;
}
.submit{
    color: black;
    background-color: #564444aa;
    margin-left: 3px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: black;
}