*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    height: 80vh;
    width: 40vw;

}
.header{
    height: 20%;
    width: 100%;
    background-color: rgb(129, 24, 24);
    color: azure;
}
.header p{
    font-style: italic;
}
div > h1{
    color: aqua;
}
.box1{
    height: 20%;
    width: 30%;
    background-color: tomato;
}
.box{
    height: 80%;
    width: 80%;
    background-color: yellow;
    margin: 40px;
    transition: width 4s;
}
.box:hover{
    width: 40%;
}