*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    padding-right: 120px;
    padding-left: 120px;
     
}
.math{
    display: flex;
}
h1{
    color: #934cb8;
}
.start{
    height: 60px;
    width: 500px;
    margin-left: 37%;
    background-color: #d9ea9d;
    display: flex;
}
.search-box{
    height: 30px;
    height: 250px;
    margin: 20px;
}
.button{
    background-color: #b270db;
    float: right;
    border: none;
    margin: 20px;
    margin-left: 90px;
    padding: 50px;
    color: white;
    font-size: small;
}
.icon{
    width: 100%;
    height: 75px;
    background-color: #b65cad;
    color: black;
     
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e7de5d;
}
li{
    float: left;
    border-right: 2px solid black;
}
li a{
    display: block;
    color:  #b65cad;
    text-align: center;
    
    padding: 25px 35px;
    text-decoration: none;
}
.content{
    background-color: #c1e25f;
    height: 300px;
    width: 95%;
    margin-top: 15px;
    padding: 30px;
}
.conheading{
    color: #3e6914;
}
.conpara{
    font-size: x-large;
    line-height: 1.5;
    color: #3e6914;
}
.combinedcontent{
    display: flex;
    margin-top: 15px;
}
.goto{
    height: 500px;
    width: 45%;
    margin: 10px;
    padding: 15px;
    border: 1px solid greenyellow;
    border-radius: 10px;
}
.why{
    height: 500px;
    width: 45%;
    margin: 10px;
    margin-left: 50px;
    padding: 15px;
    border: 1px solid greenyellow;
    border-radius: 10px;
   
    
}
.wpara{
    display: inline;
}
.footer{
    height: 100px;
    width: 97%;
    background-color: #ded741;
    padding: 15px;
    margin-top: 20px;
}